# This is a TOML document config

title = "cortex-cli configuration file"

[cortex-instance]

[cortex-instance.default]
url = "https://cortex.local"
verify_cert = true

hashlookup = 'CIRCLHashlookup_1_1'
urlhaus = 'URLhaus_2_0'
malbazaar = 'MalwareBazaar_1_0'
eml = 'EmlParser_2_1'
vt = 'VirusTotal_GetReport_3_1'
doh = 'GoogleDNS_resolve_1_0_0'
misp = 'MISP_2_1'
octi = 'OpenCTI_SearchObservables_2_0'

[cortex-instance.default.malware]

hashlookup = 'CIRCLHashlookup_1_1'
malbazaar = 'MalwareBazaar_1_0'
vt = 'VirusTotal_GetReport_3_1'

[cortex-instance.dev]
url = "https://cortex-dev.local"
verify_cert = false

octi = 'OpenCTI_SearchObservables_2_0'

[cortex-instance.ext]
url = "https://cortex-ext.local/"
verify_cert = true